<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>TeTesting2</display-name>
  <welcome-file-list>
    <welcome-file>plain</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>servletPackage.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/entry</url-pattern>
    <url-pattern>/plain</url-pattern>
    <url-pattern>/delete</url-pattern>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
</web-app>